:root {
  /* Font */

  --light-font: #faf4ff;
  --darker-font: #39006f;

  /* Background */

  --background-base: #f9f4ff;
  --background-alternative: #e8d0ff;

  /* Item */

  --item-border: #6517b2;

  /* Buttons */

  --button: #7a0ee2;
  --button-hover: #bd76ff;

  --remove-button: #f20000;
  --remove-button-hover: #ff5757;

  --checkout-button: #0cdb10;
  --checkout-button-hover: #9fff9f;
}

body {
  background-color: var(--background-base);
  font-family: 'Rubik', sans-serif;
}

.shopping-cart {
  padding: 10px;
}

.cart-item {
  display: flex;
  align-items: center;
  justify-content: space-around;
  border: 2px solid var(--item-border);
  border-radius: 5px;
  width: 800px;
  height: 150px;
  margin: 0 auto;
  margin-bottom: 20px;
  background-color: var(--background-base);
  -webkit-box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.3);
  -moz-box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.3);
  box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.3);
}

.item-info {
  display: flex;
  align-items: center;
  gap: 30px;
}

/* Generic Button */

button {
  font-family: 'Rubik', sans-serif;
  border: none;
  border-radius: 10px;
  width: 40px;
  height: 40px;
  transition: 0.3s;
  color: var(--light-font);
  background-color: var(--button);
  cursor: pointer;
  -webkit-box-shadow: 0px 0px 50px 5px rgba(0,0,0,0.15);
  -moz-box-shadow: 0px 0px 50px 5px rgba(0,0,0,0.15);
  box-shadow: 0px 0px 50px 5px rgba(0,0,0,0.15);
}

button:hover {
  background-color: var(--button-hover);
}

/* Remove Button */

.remove-button {
  width: 100px;
  height: 40px;
  background-color: var(--remove-button);
}

.remove-button:hover {
  background-color: var(--remove-button-hover);
}

/* Checkout Button */

.checkout-button {
  width: 100px;
  height: 40px;
  color: var(--darker-font);
  background-color: var(--checkout-button);
}

.checkout-button:hover {
  background-color: var(--checkout-button-hover);
}

.checkout-container {
  display: flex;
  justify-content: center;
}

.quantity {
  width: 35px;
  height: 35px;
  border: 2px solid var(--item-border);
  border-radius: 10px;
  text-align: center;
}

img {
  width: 120px;
  height: 120px;
  border-radius: 5px;
}
