* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:focus{
    outline: none;
}

body{
    background: rgb(218, 216, 219);
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    
}
/*formulario*/

.form-wrap{
    width: 1050px;
    height: 530px;
    margin: 50px auto;
    background: #449ce4;
    display: flex;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0px 0px 20px rgb(31, 30, 30);

}

/*informacion de contacto*/

.contact-info::before{
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: rgb(75, 149, 245);
    opacity: 0.5;
}

.contact-info{
    width: 38%;
    position: relative;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;

    background-image: url(/form/imagenes/programacion3.jpeg);
    background-size: cover;
    background-position: center;

}

.info-titulo,
.info-item{
    position: relative;
    z-index: 2;
    color: rgb(2, 10, 18);
}

.info-titulo{
    margin-bottom: 60px;
}

.info-titulo span{
    font-size: 100px;
    display: block;
    text-align: center;
    margin-bottom: 15px;

}

.info-titulo h2{
    font-size: 35px;
    text-align: center;
}

.info-item p{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 10px;
}

.info-item img{
    display: block;
    margin: 0px auto;
}

.info-item, .p .correo{
    font-size: 20px;
    margin-right: 10px;
    margin-left: 4px;
    text-align: center;

}


.info-item p, .telefono{
    font-size: 20px;
    margin-right: 10px;
    margin-left: 4px;
    text-align: center;
}


.volver{
    width: 180px;
    background:rgb(40, 104, 241);
    padding: 10px;
    border: none;
    border-radius: 25px;
    float: right;
    text-decoration: none;

    color:black;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
}

.volver:hover{
    background: rgb(75, 149, 245);

}


form.form-contact{
    width: 62%;
    padding: 30px 40px;
}

form.form-contact h2{
    font-size: 25px;
    font-weight: 600;
    color: black;
    margin-bottom: 30px;
    
}

form.form-contact .user-info{
    display: flex;
    flex-direction: column;
}

form.form-contact label{
    font-weight: 600;
    border-bottom-color: #dd6565;
}

form.form-contact input{
    width: 100%;
    background:rgb(199, 216, 248);
    padding: 3px 0px 2px;
    margin-bottom: 20px;
    border: none;
    border-bottom: 2px rgb(79, 90, 248);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: rgb(15, 15, 15);
    font-size: 14px;
    font-weight: 400;

}

form.form-contact textarea{
    width: 100%;
    padding: 3px 0px 1px;
    background:rgb(199, 216, 248);
    margin-bottom: 20px;
    border: none;
    border-bottom: 2px rgb(199, 216, 248);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: black;
    font-weight: 400;
    font-size: 14px;
    font-weight: 400;
    max-width: 100%;
    min-width: 100%;
    max-height: 90px;
}

form.form-contact input[type="button"]{
    width: 180px;
    background:rgb(40, 104, 241);
    padding: 10px;
    border: none;
    border-radius: 25px;
    align-self: flex-end;
    color:black;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;

}

form.form-contact input[type="button"]:hover{
    background: rgb(118, 167, 245);
}

.modal-wrap{
    width: 100%;
    height: 100vh;
    background: rgb(0,0,0,0.7);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 3;
    display: flex;
    justify-content: center;
    align-items: center;
}

.mensaje-modal{
    background: rgb(205, 223, 223);
    box-shadow: 0px 0 px 15px rgba(0,0,0,0,0.5);
    width: 400px;
    padding: 30px 20 px 15px;

}

.mensaje-modal h3{
    text-align: center;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 20px;
    font-weight: 400;
}
.mensaje-modal h3::after{
    content: "";
    display: block;
    width: 100%;
    height: 1px;
    background: #c5c5c5;
    margin: 10px 0px 15px;

}

.mensaje-modal p{
    font-size: 16px;
    color: #474747;

}

.mensaje-modal p::before{
    content: "";
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    display:inline-block;
    color: #8a8888;
    margin-right: 18px;


}

#btnclose{
    display: block;
    padding:  3px 10px;
    margin-top: 10px;
    background: rgb(192, 208, 219);
    border: 2px solid #92cbd4;
    cursor: pointer;
    float:right;

}
    

