body {
  font-family: "Rubik";
  text-shadow: 4px -1px 11px rgba(118, 118, 188, 0.3);
  color: var(--main-font);

  margin: 0;
  padding: 0;
  box-sizing: border-box;

  background-color: var(--background-base);

  display: flex;
  flex-direction: column;
  justify-content: center;

  align-items: center;
  height: 100vh;
}

main {
  width: 75%;
  display: flex;
  flex-direction: row;
}

.sub-header {
  display: inline-flex;
  margin-bottom: 40px;
}

.sub-header h1 {
  margin-right: 10px;
}

.sub-header svg {
  width: 35px;
  padding: 10px;
}

.container {
  width: 75%;
  display: flex;
  border-radius: 4px;
  background-color: #fff;
  overflow: hidden;
}

table {
  flex: 1;
  border-collapse: collapse;
}

th,
td {
  padding: 10px;
  text-align: center;
  border-bottom: 1px solid #ddd;
}

th {
  background-color: #e6e5e5;
  font-weight: bolder;
}

img {
  max-width: 100px;
  height: auto;
}

.quantity-input {
  width: 50px;
  text-align: center;
}

.delete-btn {
  background: none;
  border: none;
  cursor: pointer;
}

.delete-btn svg {
  width: 24px;
  fill: var(--remove-button);
}

.delete-btn svg:hover {
  fill: var(--remove-button-hover);
  transition: 0.2s;
}

.summary {
  background-color: #fff;
  margin-top: 50px;
  margin-left: 20px;
  width: 25%;
  height: 120px;
  padding: 20px;
  flex-shrink: 0;
  border-radius: 10px;
}

.summary-row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.summary button {
  width: 100%;
  padding: 10px;
  background-color: var(--checkout-button);
  border: navajowhite;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  font-family: "Rubik";
}

.summary button:hover {
  background-color: var(--checkout-button-hover);
}
