:root {
  --main-font: #292929;

  --background-base: #faf4ff;

  --remove-button: #f20000;
  --remove-button-hover: #ff5757;

  --checkout-button: #05b429;
  --checkout-button-hover: #0ed939;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  display: grid;
  grid-template-columns: 3fr 1fr;
  gap: 40px;
}
