.shopping-cart {
  flex: 1;
  background-color: #ffffff;
  border-radius: 5px;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.shopping-cart h2 {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
}

.table {
  width: 100%;
  border-collapse: collapse;
}

.table th,
.table td {
  padding: 10px 15px;
  border-bottom: 1px solid #e2e8f0;
  text-align: left;
}

.img-table {
  max-width: 100px;
  height: auto;
}

.quantity-input {
  width: 45px;
  height: 40px;
  text-align: center;
}

#increment-btn {
  display: inline;
  width: 20%;
  height: 40px;
  padding: 10px;
  background-color: #303b79;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 12 px;
  font-weight: bold;
  text-transform: uppercase;
  transition: background-color 0.3s ease;
}

#decrement-btn {
  display: inline;
  width: 20%;
  height: 40px;
  padding: 10px;
  background-color: #303b79;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 12 px;
  font-weight: bold;
  text-transform: uppercase;
  transition: background-color 0.3s ease;
}

.remove-button {
  display: block;
  width: 60%;
  height: 40px;
  padding: 10px;
  background-color: #e14242;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 12 px;
  font-weight: bold;
  text-transform: uppercase;
  transition: background-color 0.3s ease;
}

.remove-button:hover {
  background-color: #c21f1f;
}
